/* GENERAL STYLE */
.fullpage-wrapper{
    background-color: rgba(26,188,156,255);
}

.bg-slategreen{
    background-color: rgba(26,188,156,255);
}

/* NAV STYLE */
#nav-section{
    background-color: rgba(44,62,80,255);
}

/* JUMBOTRON STYLE */
#jumbotron img{
    display: block;
    width: 200px;
    margin: 0 auto;
}

/* PORTFOLIO STYLE */
#portfolio img{
    width: 100%;
    border-radius: 15px;
}

/* ABOUT SECTION */
#about-section button{
    border: 1px solid white;
    background-color: transparent;
}

/* CONTACT-ME STYLE */
#contact-me .form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
}

#contact-me button{
    border: none;
}

/* FOOTER STYLE */
#upper-footer{
    background-color: rgba(58,84,109,255);
}

#upper-footer i{
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 39px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid white;
    border-radius: 50%;
}

#upper-footer a{
    text-decoration: none;
    color: rgba(28,181,153,255);
}

#lower-footer{
    background-color: rgba(44,62,80,255)
;
}