.fullpage-wrapper{
    background-color: skyblue;
}

.filler-box{
    background-color: slateblue;
    border: 2px solid red;
    height: 250px;
    /* margin-bottom: 30px; da usare al posto della classe bootstrap gy-* */
}

.header-filler-box{
    height: 300px;
    text-align: center;
}

/* PORTFOLIO STYLE */
#portfolio img{
    width: 100%;
    border-radius: 15px;
}